#course-toc {
  border-style: solid;
  background: White;
  margin: 3rem auto;
  border-image-source: url(https://i.ibb.co/Sff0n2g/hand-drawn-border-palegoldenrod-outer.png);
  border-image-slice: 21%;
  border-image-width: 100px;
  border-image-repeat: stretch;
  border-image-outset: 5px 5px 5px 5px;
}
