/* ------------------
| TYPOGRAPHY         |
 ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#page-mast h1, #page-mast h1 a {
    color: #34d2cc;
    font-family: "Fredoka One", sans-serif;
}
ul.topics li h2.sectionname {
  visibility: hidden;
}
