/* ------------------
| URL MODULE GROUP   |
------------------ */
li.modtype_url .snap-asset-content .no-overflow,
li.modtype_url .snap-header-card,
li.modtype_url .snap-resource-card-fadeout,
li.modtype_url .snap-asset-content .snap-asset-link a img {
  display: none;
}

li.modtyle_url .snap-assettype {
  height: 0px;
}

body.snap-resource-card li.snap-resource.modtype_url {
  background-image: none !important;
}

li.modtype_url {
  height: auto !important;
  background-image: none;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  margin-top: 2em;
  margin-bottom: 50px;
}

div.tile-title p.instancename {
  font-family: "Fredoka One";
  font-size: 14px;
  color: #4C5656;
  padding-right: 0px;
  margin: 0px;
}

div.tile-title p.instancename::before,
div.tile-title p.instancename::after {
  display: none;
}

.snap-header-card .snap-header-card-icons .snap-asset-completion-tracking img,
div.tile-completion img {
  width: 30px;
  height: 30px;
  font-size: 30px;
}
