nav a[href^="/"], a[href^="#section-2"], a[href^="#section-6"], a[href^="#section-11"], a[href^="#section-16"] {

}

/*#course-toc ol#chapters li:nth-child(n+2):nth-child(-n+5)>a:before {
   content: "\f126";
   font-family: FontAwesome;
   font-size: inherit;
   color: gray;
   margin-right: 1.1rem;
}*/
#course-toc ol#chapters {
   list-style-type: none;
}
#course-toc ol#chapters li:nth-child(n+3):nth-child(-n+6)>a:before {
   content: "";
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   margin-right: 8px;
   background: url('https://media-ed-online.github.io/course-design-files/svma/intro-animation/images/icon-handdrawn-bw.png');
   background-size: contain;
   background-repeat: no-repeat;
   vertical-align: middle;
   transition: 0.3s ease-in-out;
}
#course-toc ol#chapters li:nth-child(n+3):nth-child(-n+6)>a:hover:before {
   content: "";
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   margin-right: 8px;
   background: url('https://media-ed-online.github.io/course-design-files/svma/intro-animation/images/icon-handdrawn-color.png');
   background-size: contain;
   background-repeat: no-repeat;
   vertical-align: middle;
   transition: 0.3s ease-in-out;
}
#course-toc ol#chapters li:nth-child(n+7):nth-child(-n+11)>a:before {
   content: "";
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   margin-right: 8px;
   background: url('https://media-ed-online.github.io/course-design-files/svma/intro-animation/images/icon-stopmo-bw.png');
   background-size: contain;
   background-repeat: no-repeat;
   vertical-align: middle;
   transition: 0.3s ease-in-out;
}
#course-toc ol#chapters li:nth-child(n+7):nth-child(-n+11)>a:hover:before {
   content: "";
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   margin-right: 8px;
   background: url('https://media-ed-online.github.io/course-design-files/svma/intro-animation/images/icon-stopmo-color.png');
   background-size: contain;
   background-repeat: no-repeat;
   vertical-align: middle;
   transition: 0.3s ease-in-out;
}
#course-toc ol#chapters li:nth-child(n+12):nth-child(-n+16)>a:before {
   content: "";
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   margin-right: 8px;
   background: url('https://media-ed-online.github.io/course-design-files/svma/intro-animation/images/icon-digital-bw.png');
   background-size: contain;
   background-repeat: no-repeat;
   vertical-align: middle;
   transition: 0.3s ease-in-out;
}
#course-toc ol#chapters li:nth-child(n+12):nth-child(-n+16)>a:hover:before {
   content: "";
   display: inline-block;
   width: 1.3em;
   height: 1.3em;
   margin-right: 8px;
   background: url('https://media-ed-online.github.io/course-design-files/svma/intro-animation/images/icon-digital-color.png');
   background-size: contain;
   background-repeat: no-repeat;
   vertical-align: middle;
   transition: 0.3s ease-in-out;
}
